<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Books Home</title>
		{% load staticfiles %}
		<script src="{% static 'main/js/script.js' %}" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
	</head>
	<body>
		<h2>Welcome, {{alias}}!</h2>
		<div style="display: inline-block; width: 65%">
			<h2>Recent Book Reviews:</h2>
			{% for review in recent %}
			<div class="book_review">
				<a href="books/{{review.book.id}}">{{review.book.title}}</a><br>
				<span>Rating: {{review.stars|safe}}</span>
				<p>
					<a href="/users/{{review.user.id}}">{{review.user.alias}}</a> says:
					{{review.review}}
				</p>
				<span>Posted on {{review.created_at}}</span>
			</div>
			{% endfor %}
		</div>
		<div style="display: inline-block; width: 30%">
			<a href="/books/new">Add Book and Review</a>
			<a href="/logout">Logout</a>
			<h2>Other Books with Reviews:</h2>
			<div style="border: solid black 1px; overflow: scroll; height: 150px; padding: 5px">
				{% for book in others %}
				<a href="/books/{{book.id}}">{{book.title}}</a>
				{% endfor %}
			</div>
		</div>
	</body>
</html>