<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Books Home</title>
		{% load staticfiles %}
		<script src="{% static 'main/js/script.js' %}" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
	</head>
		<body>
			<h2>Welcome, {{alias}}!</h2>
			<div style="display: inline-block;">
				<h2>Recent Book Reviews:</h2>
				{% for review in reviews %}
				<div class="book_review">
					<a href="#">{{review.book.title}}</a><br>
					<span>Rating: {{review.book.stars}}</span>
					<p>
						<a href="/users/{{review.user.id}}">{{review.user.alias}}</a> says:
						{{review.review}}
					</p>
					<span>Posted on {{review.created_at}}</span>
				</div>
				{% endfor %}
			</div>
			<div style="display: inline-block;">
				<a href="/books/new">Add Book and Review</a>
				<a href="/logout">Logout</a>
			</div>
		</body>
</html>